<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>CreerContext</servlet-name>
    <servlet-class>com.saliou.servlets.CreerContext</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreerContext2</servlet-name>
    <servlet-class>com.saliou.servlets.CreerContext2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContextResultat</servlet-name>
    <servlet-class>com.saliou.servlets.ContextResultat</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Traiter_vue</servlet-name>
    <servlet-class>com.saliou.servlets.Traiter_vue</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Traiter_vue2</servlet-name>
    <servlet-class>com.saliou.servlets.Traiter_vue2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Creer_RCF</servlet-name>
    <servlet-class>com.saliou.servlets.Creer_RCF</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TraiterRcf</servlet-name>
    <servlet-class>com.saliou.servlets.TraiterRcf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerContext</servlet-name>
    <url-pattern>/creerContext</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreerContext2</servlet-name>
    <url-pattern>/creerContext2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContextResultat</servlet-name>
    <url-pattern>/resultat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Traiter_vue</servlet-name>
    <url-pattern>/traiter_vue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Traiter_vue2</servlet-name>
    <url-pattern>/traiter_vue2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Creer_RCF</servlet-name>
    <url-pattern>/rcf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TraiterRcf</servlet-name>
    <url-pattern>/traiterRcf</url-pattern>
  </servlet-mapping>
</web-app>